name: pr-gorelaser

permissions: {}

on:
  pull_request:
    branches:
      - 'master'

jobs:
  validate-config:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Validate .goreleaser.yaml
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: latest
          args: check
        env:
          RUNNER_TOKEN: ${{ github.token }}
          GITHUB_TOKEN: ${{ secrets.DOODLE_OSS_BOT}}
